.header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    animation: scale-up-top 0.5s;
}

.header__top-bar {
    width: 85%;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}

.header__logo-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.header__icon {
    color: #ffffff;
}

.header__logo {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    filter: drop-shadow(0 0 5px #000000);

}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.header__nav-list li {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff8c;
}

.header__menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__nav-list li:hover {
    font-weight: 750;
    color: #ffffff;
    transition: all 0.4s ease-in-out;

}

.header__nav-list li a {
    text-decoration: none;
    color: inherit;
}

.header__dropdown-menu {
    position: absolute;
    top: 70px;
    left: 0;
    height: 100vh;
    background-color: #dedede6b;
    backdrop-filter: blur(4px);
    z-index: 3;
    width: 80%;
}

.header__expanded-menu-link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.header__expanded-menu-item {
    font-size: 30px;
    padding: 20px 20px;
    font-weight: 500;
    display: flex;
    justify-content: start;
    background-color: #ffffffc4;
    border-radius: 10px;
    margin: 20px 20px;
    animation: slide-right 0.4s linear both
}

.header__expanded-menu-item:hover {
    background-color: #dedede6b;
}

.header__expanded-menus li a {
    text-decoration: none;
    color: inherit;
}

.header__expanded-menu-a {
    font-size: 20px;
    margin-left: 20px;
    color: #575756;
}

#header_button--close--menu {
    animation: rotate-center 0.4s;
}

#header__button--menu {
    animation: rotate-horizontal-center 0.4s;
}

/* --------------------------Responsive.-------------------------- */

/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {

    .header__nav-list li {
        font-size: 12px;
    }

    .header__logo {
        width: 42px;
        height: 42px;
    }

    .header__logo-container {
        order: 1;
    }

    .header__menu-button {
        display: block;
        order: 0;
    }

    .header__nav-list {
        display: none;
    }

    .header__expanded-menu-a {
        font-size: 14px;
    }

    .header__dropdown-icon {
        width: 22px !important;
        height: 22px !important;
    }

    .header__dropdown-menu {
        width: 70%;
    }
}

/* Smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
    .header__nav-list li {
        font-size: 13px;
    }

    .header__logo-container {
        order: 1;
    }

    .header__menu-button {
        display: block;
        order: 0;
    }

    .header__nav-list {
        display: none;
    }

    .header__expanded-menu-a {
        font-size: 17px;
    }

    .header__dropdown-icon {
        width: 25px !important;
        height: 25px !important;
    }

    .header__dropdown-menu {
        width: 65%;
    }
}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .header__nav-list li {
        font-size: 14px;
    }

    .header__logo-container {
        order: 1;
    }

    .header__menu-button {
        display: block;
        order: 0;
    }

    .header__expanded-menu-a {
        font-size: 20px;
    }

    .header__dropdown-icon {
        width: 27px !important;
        height: 27px !important;
    }

    .header__nav-list {
        display: none;
    }
}

/* Tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 800px) {
    .header__nav-list li {
        font-size: 15px;
    }

    .header__logo-container {
        order: 1;
    }

    .header__menu-button {
        display: block;
        order: 0;
    }

    .header__expanded-menu-a {
        font-size: 23px;
    }

    .header__dropdown-icon {
        width: 30px !important;
        height: 30px !important;
    }


    .header__nav-list {
        display: none;
    }
}

/* Big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .header__nav-list li {
        font-size: 16px;
    }

    .header__menu-button {
        display: none;
    }

    .header__logo-container {
        order: 0;
    }

    .header__nav-list {
        display: flex;
        order: 1;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    .header__nav-list li {
        font-size: 17px;
    }

    .header__menu-button {
        display: none;
    }

    .header__logo-container {
        order: 0;
    }

    .header__nav-list {
        display: flex;
        order: 1;
    }
}

/* Large desktops (1920px and above) */
@media (min-width: 1920px) {
    .header__nav-list li {
        font-size: 18px;
    }

    .header__menu-button {
        display: none;
    }

    .header__logo-container {
        order: 0;
    }

    .header__nav-list {
        display: flex;
        order: 1;
    }
}

/* Ultra-wide desktops (2560px and above) */
@media (min-width: 2560px) {
    .header__nav-list li {
        font-size: 19px;
    }

    .header__menu-button {
        display: none;
    }

    .header__logo-container {
        order: 0;
    }

    .header__nav-list {
        display: flex;
        order: 1;
    }
}

/* 4K screens (3840px and above) */
@media (min-width: 3840px) {
    .header__nav-listW li {
        font-size: 20px;
    }

    .header__menu-button {
        display: none;
    }

    .header__logo-container {
        order: 0;
    }

    .header__nav-list {
        display: flex;
        order: 1;
    }
}

/* --------------------------Animations--------------------------- */

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-horizontal-center {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-360deg);
    }
}

@keyframes blur-in-expand {
    0% {
        transform: scale(0);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}