

@media (min-width: 320px) {
    .main__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        background-color: aliceblue;
    }

    .main__content-initial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .initial__text{
        text-align: center;
        font-size: 8px;
        font-weight: 400;
        color: #000000;
    }
    .initial__img{
        width: 80px;
        height: 100px;
    }

    .img-logo{
        width: 100%;
    }
}

